<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>servlet.EventServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/NewFile</url-pattern>
    </servlet-mapping>
  
</web-app>
